<!DOCTYPE html>
<html lang="en" class={{themeType}}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.jpg">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/{{themeType}}.css">
</head>
<body class={{themeType}}>
    {{#unless loggedIn}}
    <div class="account">
        <button onclick="location.href='/user/signup'" type="button" class="signup">Sign Up</button>
        <button onclick="location.href='/user/login'" type="button" class="login">Login</button>
    </div>
    {{/unless}}
    {{#if loggedIn}}
    <div class="account">
        <button onclick="location.href='/user/{{loggedIn.id}}'" type="button" class="signup">Profile</button>
        <form action="/user/logout" method="POST">
            <button type="submit" class="login">Logout</button>
        </form>
    </div>
    {{/if}}
    <div class="home">
        <button onclick="location.href='/'" type="button" class="home">Home</button>
    
    <button onclick="location.href='/map'" type="button" class="home">Map</button>
        <button onclick="location.href='/leaderboard'" type="button" class="home">Leaderboard</button>
    <br>
    </div>
    {{{body}}}
    <script src="/public/js/formValidation.js"></script>
    <script src="/public/js/clientside.js"></script>
</body>

</html>