<main>
    <h2>Account name{{username}}</h2>
    <script src="../clientside.js"></script>
    <section>
        <h3>Account Settings</h3>
        <dl>
            <dt>Username: </dt>
                <dd>foobar{{username}}</dd>
            <dt>Password: </dt>
                <dd>foobar{{password}}</dd>
            <dt>Email: </dt>
                <dd>foobar{{email}}</dd>
            <dt>Bio: </dt>
                <dd>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."{{bio}}</dd>
            <dt>Account Type:</dt>
                <dd>foobar{{accountType}}</dd>
        </dl>
    </section>
    <section>
        <h3>My reviews</h3>
        <table class="review-table">
            <tr>
                <th>Reviews</th>
                {{#each userReviews}}
                    <tr>
                        <td>{{shops}}</td>
                        <td><p>Rating: {{rating}}</p><br>
                            <p>Date: {{reviewDate}}<br>
                            <p class="review-body">{{review}}</p>
                            <button onclick="toggleContent('toggledComments')">Show Comments</button>
                            <div id="toggleComments" style="display: none;">
                            <ul>
                            {{#each comments}}
                                <li>
                                    <p>Username: {{username}}</p> <br>
                                    <p>Date: {{commentDate}}</p> <br>
                                    <p class="comment-body">{{comment}}</p>
                                </li>
                            {{/each}}
                            </ul>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tr>
        </table>
    </section>
</main>