<main>
    <section>
        <h1>Add your business!</h1>
        <form action="/shop/addShop" method="POST" name="addShop-form" id="addShop-form" class="addShop">
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
            <label for="shopName">
                Name of business:
                <br>
                <input type="text" name="shopName" id="shopName" value="{{shopName}}" required><br>
            </label>
            <label for="address">
                Address:
                <br>
                <input type="text" name="address" id="address" value="{{address}}" required><br>
            </label>
            <label for="website">
                Business website:
                <br>
                <input type="url" name="website" id="website" value="{{website}}" required><br>
            </label>
            <label for="phoneNumber">
                Business phone number:
                <br>
                <input type="tel" name="phoneNumber" id="phoneNumber" value="{{phoneNumber}}"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="XXX-XXX-XXXX" required><br>
            </label>
            <div class="customizationList">
                <dl id="customizationList">
                    <dt>Customization</dt>
                    <dd>
                        <input id="ice_level" name="ice_level" type="checkbox">
                        <label for="ice_level">Ice Level</label>
                    </dd>
                    <dd>
                        <input id="sugar_level" name="sugar_level" type="checkbox">
                        <label for="sugar_level">Sugar Level</label>
                    </dd>
                    <dd>
                        <input id="size_options" name="size_options" type="checkbox">
                        <label for="size_options">Size Options</label>
                    </dd>
                    <dd>
                        <input id="customization_charge" name="customization_charge" type="checkbox">
                        <label for="customization_charge">Customization Charge</label>
                    </dd>
                </dl>
            </div>
            <label for="hour1">Opening Time:</label>
            <input type="number" id="hour1" name="hour1" min="1" max="12" placeholder="12" required>
            <label for="minute1">:</label>
            <input type="number" id="minute1" name="minute1" min="0" max="59" placeholder="0" required>
            <select id="ampm1" name="ampm1" required>
                <option value="">Choose</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <br>
            <label for="hour2">Closing Time:</label>
            <input type="number" id="hour2" name="hour2" min="1" max="12" placeholder="12" required>
            <label for="minute2">:</label>
            <input type="number" id="minute2" name="minute2" min="0" max="59" placeholder="0" required>
            <select id="ampm2" name="ampm2" required>
                <option value="">Choose</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <br>
            <button type="submit" name="submitButton" id="submitButton" class="save">Submit</button>
        </form>
        <div id="error" class="CSerror" hidden>Error</div>
    </section>
</main>