
<div>
    <p>From: {{user.name}}<p>
    <p>{{comment.comment}}</p>
    <p>{{comment.reviewDate}}</p>
    {{#if comment.edited}}
    <p>Edited</p>
    {{/if}}
</div>
{{#if Admin}}
<form action="/review/{{reviewId}}/comment/{{comment._id}}/delete" method="POST">
    <button type="submit" class="delete">DELETE COMMENT</button>
</form>
{{else}}
{{#if isOwner}}
<form action="/review/{{reviewId}}/comment/{{comment._id}}/delete" method="POST">
    <button type="submit" class="delete">DELETE COMMENT</button>
</form>
{{/if}}
{{/if}}
<footer>
    <a href="/review/{{reviewId}}" class="static-link">Go back to original review</a>
</footer>