<main>
    {{#if search}}
    <h1>Items with name mentioning "{{search}}" at <a href="/shop/{{shop._id}}">{{shop.name}}</a></h1>
    {{else}}
    <h1>Items at <a href="/shop/{{shop._id}}">{{shop.name}}</a></h1>
    {{/if}}
    <div id="container" data-shop-id="{{shop._id}}">
        <label>Search Items:</label>
        <input class="search-bar" type="text" name="search" id="itemNameSearch" placeholder="Matcha...">
        <br>
        <label>Description:</label>
        <input class="search-bar" type="text" name="description" id="itemDescriptionSearch" placeholder="Green tea...">
        <br>
        <label for="glutenCheckbox">Exclude Gluten:</label>
        <input type="checkbox" id="glutenCheckbox">
        <br>
        <label for="dairyCheckbox">Exclude Dairy:</label>
        <input type="checkbox" id="dairyCheckbox">
        <br>
        <label for="peanutsCheckbox">Exclude Peanuts:</label>
        <input type="checkbox" id="peanutsCheckbox">
        <br>
        <label for="treeCheckbox">Exclude Tree Nuts:</label>
        <input type="checkbox" id="treeCheckbox">
        <br>
        <label for="sesameCheckbox">Exclude Sesame:</label>
        <input type="checkbox" id="sesameCheckbox">
        <br>
        <label for="mustardCheckbox">Exclude Mustard:</label>
        <input type="checkbox" id="mustardCheckbox">
        <br>
        <label for="soyCheckbox">Exclude Soy:</label>
        <input type="checkbox" id="soyCheckbox">
        <br>
        <label for="eggsCheckbox">Exclude Eggs:</label>
        <input type="checkbox" id="eggsCheckbox">
        <br>
        <label for="fishCheckbox">Exclude Fish:</label>
        <input type="checkbox" id="fishCheckbox">
        <br>
        <label for="shellfishCheckbox">Exclude Shellfish:</label>
        <input type="checkbox" id="shellfishCheckbox">
        <br>
        <button type="button" onclick="searchItems()">
            <img class="search-button" alt="search-button" src="/public/img/search-icon.png">
        </button>
    </div>
    <select id="reviewSort" name="reviewSort" onchange="itemSort(this.value)">
        <option value='default'>Default</option>
        <option value='cheapest'>By Cheapest</option>
        <option value='expensive'>By Most Expensive</option>
        <option value='highest'>By Highest Calorie Count</option>
        <option value='lowest'>By Lowest Calorie Count</option>
        <option value='atoz'>A - Z</option>
        <option value='ztoa'>Z - A</option>
    </select>
    <table id="default">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>     
    </table>
    <table id="cheapest" hidden>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each cheapest}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table id="expensive" hidden>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each expensive}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table id="highest" hidden>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each highest}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table id="lowest" hidden>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each lowest}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table id="atoz" hidden>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each alphaForward}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table id="ztoa" hidden>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each alphaBackward}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/shop/{{../shop._id}}/item/{{this._id}}">Page</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>
