<section id="leaderboard">
  <h2 class="leaderboard_header">Leaderboard</h2>
  <table class="my_coolratings_table" id="my_coolratings_table">
      <tr>
          <th>Position</th>
          <th>Username</th>
          <th>Number of Points</th>
          <th>Tier</th>
      </tr>
{{#each leaderboard}}
    <tr class="{{this.tier}}">
        <td>{{this.position}}</td>
        <td>{{this.name}}</td>
        <td>{{this.numOfPoints}}</td>
        <td>{{this.tier}}</td>
     </tr>
{{/each}}
</table>
</section>