
    <main>
        {{#if search}}
        <h1>Reviews mentioning "{{search}}" at <a href="/shop/{{shop._id}}">{{shop.name}}</a></h1>
        {{/if}}
        {{#if user}}
        <h1>Reviews posted by "{{user}}" at <a href="/shop/{{shop._id}}">{{shop.name}}</a></h1>
        {{/if}}
        {{#unless search}}
            {{#unless user}}
            <h1>Reviews at <a href="/shop/{{shop._id}}">{{shop.name}}</a></h1>
            {{/unless}}
        {{/unless}}
        <div id="container">
            <label>Search Reviews:</label>
            <input class="search-bar" type="text" name="search" id="search" placeholder="Service...">
            <br>
            <button type="button" onclick="searchReviews()">
                <img class="search-button" alt="search-button" src="/public/img/search-icon.png">
            </button>
        </div>
        <script>
            function searchReviews() {
                var searchValue = document.getElementById('search').value;
                var itemValue = "{{item}}"
                var url = '/shop/{{shop._id}}/reviewSearch/' + encodeURIComponent(searchValue) + '?item=' + encodeURIComponent(itemValue);
                location.href = url;
            }
        </script>
        <select id="reviewSort" name="reviewSort" onchange="reviewSort(this.value)">
            <option value='newest'>By Newest</option>
            <option value='oldest'>By Oldest</option>
            <option value='highest'>By Most Positive</option>
            <option value='lowest'>By Most Negative</option>
            <option value='atoz'>A - Z</option>
            <option value='ztoa'>Z - A</option>
        </select>
        <div id="oldest" hidden>
            {{#each reviews}}
            <div class="review">
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
                <p>{{this.review}}</p>
            </div>
            {{/each}}
        </div>
        <div id="newest">
            {{#each newestReviews}}
            <div class="review">
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
                <p>{{this.review}}</p>
            </div>
            {{/each}}
        </div>
        <div id="highest" hidden>
            {{#each highestReviews}}
            <div class="review">
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
                <p>{{this.review}}</p>
            </div>
            {{/each}}
        </div>
        <div id="lowest" hidden>
            {{#each lowestReviews}}
            <div class="review">
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
                <p>{{this.review}}</p>
            </div>
            {{/each}}
        </div>
        <div id="atoz" hidden>
            {{#each alphaForward}}
            <div class="review">
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
                <p>{{this.review}}</p>
            </div>
            {{/each}}
        </div>
        <div id="ztoa" hidden>
            {{#each alphaBackward}}
            <div class="review">
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
                <p>{{this.review}}</p>
            </div>
            {{/each}}
        </div>
        <footer>
            <a href="#top">Go back to top</a>
        </footer>
    </main>
