{{#with review}}
<main>
    <h1>{{title}}</h1>
    <h2>{{rating}}</h2>
    <p>{{review}}</p>
    <p>Posted on: {{reviewDate}}</p>
    {{#if edited}}
    <p>Edited</p>
    {{/if}}
    <a href="/{{id}}/comments">See Comments</a>
</main>
{{/with}}