<main>
    <h1>{{review.title}}</h1>
    {{#if item.name}}
        <h2>Review of <a href="/shop/{{shop._id}}/item/{{item._id}}">{{item.name}}</a> at <a href="/shop/{{shop._id}}">{{shop.name}}</a></h2>
    {{/if}}
    {{#unless item.name}}
        <h2>Review of  <a href="/shop/{{shop._id}}">{{shop.name}}</a></h2>
    {{/unless}}
    <h2>{{review.rating}}/5</h2>
    <p>{{review.review}}</p>
    <p>Posted by: {{review.user}}</p>
    <p>Posted on: {{review.reviewDate}}</p>
    {{#if review.edited}}
    <p>Edited</p>
    {{/if}}
    {{#if isOwner}}
    <div id="userEdit" hidden>
    <form action="/review/{{review._id}}" method="POST" name="edit-review-form" id="edit-review-form" class="user">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{review.title}}">
        <br>
        <label for="rating">Rating</label>
        <input type="text" id="rating" name="rating" value="{{review.rating}}">
        <br>
        <label for="review">Review</label>
        <input type="text" id="review" name="review" value="{{review.review}}">
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    </div>
    <button onclick="swapContent('userEdit','userInfo')" class="editInfo" id="editButton">Edit Info</button>
    <br>
    {{/if}}
    {{#if loggedIn}}
    {{#if Default}}
    <div id="container">
        <form action="/review/{{review._id}}/comments" method="POST" id="commentForm">
            <label for="comment">
                <textarea id="comment" name="comment" placeholder="Write a Comment..."></textarea>
            </label>
            <br>
            <button type="submit" id="submitButton" name="submitButton" class="save">Create Comment</button>
        </form>
    </div>
    {{/if}}
    {{/if}}
    <button onclick="toggleContent('toggledComments')">Display Comments</button>
    <div id="toggledComments" style="display: none;">
    <ul>
    {{#each comments}}
        <li>
            <p><a href="/review/{{../review._id}}/comment/{{this.comment._id}}">From: {{this.username}}</a><p>
            <p>{{this.comment.comment}}</p>
            <p>{{this.comment.reviewDate}}</p>
            {{#if this.comment.edited}}
            <p>Edited</p>
            {{/if}}
        </li>
    {{/each}}
    </ul>
    </div>
    {{#if Admin}}
    <form action="/review/{{review._id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE REVIEW</button>
    </form>
    {{else}}
    {{#if isOwner}}
    <form action="/review/{{review._id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE REVIEW</button>
    </form>
    {{/if}}
    {{/if}}
</main>