<main>
    <h1>{{review.title}}</h1>
    <h2>{{review.rating}}/5</h2>
    <p>{{review.review}}</p>
    <p>Posted by: {{review.user}}</p>
    <p>Posted on: {{review.reviewDate}}</p>
    {{#if review.edited}}
    <p>Edited</p>
    {{/if}}
    {{#if isOwner}}
    <div id="userEdit" hidden>
    <form action="/review/{{review._id}}" method="POST" name="edit-review-form" id="edit-review-form" class="user">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{review.title}}">
        <br>
        <label for="rating">Rating</label>
        <input type="text" id="rating" name="rating" value="{{review.rating}}">
        <br>
        <label for="review">Review</label>
        <input type="text" id="review" name="review" value="{{review.review}}">
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    </div>
    <button onclick="swapContent('userEdit','userInfo')" class="editInfo" id="editButton">Edit Info</button>
    <br>
    {{/if}}
    <button onclick="toggleContent('toggledComments')">Display Comments</button>
    <div id="toggledComments" style="display: none;">
    <ul>
    {{#each comments}}
        <li>
            <p>From: {{this.username}}</p>
            <p>{{this.comment.comment}}</p>
            <p>{{this.comment.reviewDate}}</p>
            {{#if this.comment.edited}}
            <p>Edited</p>
            {{/if}}
        </li>
    {{/each}}
    </ul>
    </div>
</main>