<body>
    <main>
        {{#if search}}
        <h1>Reviews mentioning "{{search}}" at {{shop.name}}</h1>
        {{/if}}
        {{#if user}}
        <h1>Reviews posted by "{{user}}" at {{shop.name}}</h1>
        {{/if}}
        {{#unless search}}
            {{#unless user}}
            <h1>Reviews at {{shop.name}}</h1>
            {{/unless}}
        {{/unless}}
        <div id="container">
            <label for="shops">Search Reviews:</label>
            <input class="search-bar" type="text" name="search" id="search" placeholder="Service...">
            <br>
            <button type="button" onclick="searchReviews()">
                <img class="search-button" alt="search-button" src="/public/img/search-icon.png">
            </button>
        </div>
        <script>
            function searchReviews() {
                var searchValue = document.getElementById('search').value;
                var itemValue = "{{item}}"
                var url = '/shop/{{shop._id}}/reviewSearch/' + encodeURIComponent(searchValue) + '?item=' + encodeURIComponent(itemValue);
                location.href = url;
            }
        </script>
        <select id="reviewSort" name="reviewSort" onchange="reviewSort(this.value)">
            <option value='oldest'>By Oldest</option>
            <option value='newest'>By Newest</option>
            <option value='highest'>By Most Positive</option>
            <option value='lowest'>By Most Negative</option>
        </select>
        <ul id="oldest">
            {{#each reviews}}
            <div>
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
            </div>
            {{/each}}
        </ul>
        <ul id="newest" hidden>
            {{#each newestReviews}}
            <div>
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
            </div>
            {{/each}}
        </ul>
        <ul id="highest" hidden>
            {{#each highestReviews}}
            <div>
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
            </div>
            {{/each}}
        </ul>
        <ul id="lowest" hidden>
            {{#each lowestReviews}}
            <div>
                <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                <p>Rating: {{this.rating}}/5</p>
                <p>Posted by: {{this.user}}</p>
                <p>Posted on: {{this.reviewDate}}</p>
            </div>
            {{/each}}
        </ul>
    </main>
</body>