<body>
    <main>
        <h1>List of nearby shops: </h1>
        <form action="/shops/search/" method="POST">
            <div id="container">
            <label for="shop">
                Search Boba Stores:
                <input class= "search-bar" type="text" name="shop" id="shop" value="{{search}}" placeholder="Kung Fu Tea...">
            </label>
                <p>Minimum Rating</p>
                <input type="range" value="0" min="0" max="5" name="minRating" id="minRating" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
                <p>Minimum Likes</p>
                <input type="text" name="minLikes" id="minLikes" placeholder= "0" value="0">
                <br>
                <br><button type="submit" class="editInfo">Filter</button>
            </div>
        </form>
        <ol>
            {{#each shops}}
                <li>
                    <h2><a href="/shop/{{this._id}}">{{this.name}}</a></h2>
                    <ul>
                        <li><p>Address: {{this.address}}</p></li>
                        <li><p>Average Rating: {{this.averageRating}}</p></li>
                        <li class="tel-link">Phone: <a href="tel:{{this.phoneNumber}}">{{this.phoneNumber}}</a></li>
                    </ul>
                </li>
            {{/each}}
        </ol>

        <footer>
            <a href="#top" class="static-link">Back to Top</a> | 
            <a href="/" class="static-link">Search for another Store</a> |
            <a href="/shop/addShop" class="static-link">Add a shop yourself!</a>
        </footer>

    </main>
</body>
