<!DOCTYPE html>
<html>
<head>
    <title>{{shop.name}}</title>
</head>
<body>
    <main>
        <h1>{{shop.name}}</h1>
        <h2>Details:</h2>
        <ul>
            <li><p>Address: {{shop.address}}</p></li>
            <li><p>Website: {{shop.website}}</p></li>
            <li><p>Address: {{shop.phoneNumber}}</p></li>
            <li><p>Average Rating: {{shop.averageRating}}</p></li>
        </ul>
        <h2>Menu:</h2>
        <ul>
        {{#each items}}
            <li><a href="/item/{{this.id}}">{{this.name}}, {{this.price}}</a></li>
        {{/each}}
        </ul>
        <h2>Reviews:</h2>
        <ul>
        {{#each reviews}}
            <li>
                <a href="/review/{{this.id}}"><dt>this.review</dt></a>
                <dd>this.rating</dd>
            </li>
        {{/each}}
        </ul>
    </main>
</body>
</html>