<!DOCTYPE html>
<html>
<head>
    <title>{{shop.name}}</title>
</head>
<body>
    <main>
        <h1>{{shop.name}}</h1>
        <h2>Details:</h2>
        <ul>
            <li><p>Address: {{shop.address}}</p></li>
            <li><p>Website: {{shop.website}}</p></li>
            <li><p>Address: {{shop.phoneNumber}}</p></li>
            <li><p>Average Rating: {{shop.averageRating}}</p></li>
        </ul>
        <h2>Menu:</h2>
        <button onclick="toggleContent('toggledMenu')">Display Menu</button>
        <div id="toggledMenu" style="display: none;">
        <table>
            <tr>
                <th>Item</th>
                </th>Price</th>
                </th>Page Link</th>
            </tr>
        {{#each items}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><a href="/item/{{this.id}}">Page</a></td>
            </tr>
        {{/each}}
        </table>
        </div>
        <h2>Reviews:</h2>
        <button onclick="toggleContent('toggledReviews')">Display Reviews</button>
        <div id="toggledReviews" style="display: none;">
            {{#each reviews}}
        <div>
            <h3>{{this.title}}</h3>
        </div>
        {{/each}}
        </div>  
        <script src="../public/clientside.js"></script>
    </main>
</body>
</html>