
    <main>
        <h1>{{shop.name}} Flags: </h1>
        <ol>
            {{#each flags}}
                <li>
                    <a href="/shop/{{this._id}}">{{this.name}}</a>
                    <ul>
                        <li><a href="/shop/{{../shop._id}}/flag/{{this._id}}" class="static-link">Go to Flag</a></li>
                        <li><p>UserId: {{this.userId}}</p></li>
                        <li><p>Reason: {{this.flagReason}}</p></li>
                        <li><p>Flag Date: {{this.flagDate}}</p></li>
                    </ul>
                </li>
            {{/each}}
        </ol>

        <footer>
            <a href="/shop/{{shop._id}}" class="static-link">Go back to {{shop.name}}</a>
        </footer>

    </main>
