    <main>
        <h1>Search for Shops: </h1>
        <form action="/shops/search/" method="POST">
            <div id="container">
            <label for="shop">
                Search By Name:
                <input class= "search-bar" type="text" name="shop" id="shop" value="{{search}}">
            </label>
            <br>
            <label>
                Search By Items:
                <input class= "search-bar" type="text" name="itemKeyWord" id="itemKeyWord">
            </label>
            <br>
            <span class="filter">
                <label for="minRating">Minimum Rating</label>
                <input type="range" value="0" min="0" max="5" name="minRating" id="minRating" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
            </span>
            <span class="filter">
                <label for="minLikes">Minimum Likes</label>
                <input type="text" name="minLikes" id="minLikes" placeholder= "0" value="0">
            </span>
            <span class="filter">
                <label for="minReviews">Minimum Reviews</label>
                <input type="text" name="minReviews" id="minReviews" placeholder= "0" value="0">
            </span>
            
            <h4>Common Allergens Filter</h4>
                <dl id="allergenList">
                    <dt></dt>
                    <dd>
                        <input id="gluten" name="gluten" type="checkbox">
                        <label for="gluten">Gluten</label>
                    </dd>
                    <dd>
                        <input id="dairy" name="dairy" type="checkbox">
                        <label for="dairy">Dairy</label>
                    </dd>
                    <dd>
                        <input id="peanuts" name="peanuts" type="checkbox">
                        <label for="peanuts">Peanuts</label>
                    </dd>
                    <dd>
                        <input id="treenuts" name="treenuts" type="checkbox">
                        <label for="treenuts">Tree Nuts</label>
                    </dd>
                    <dd>
                        <input id="sesame" name="sesame" type="checkbox">
                        <label for="sesame">Sesame</label>
                    </dd>
                    <dd>
                        <input id="mustard" name="mustard" type="checkbox">
                        <label for="mustard">Mustard</label>
                    </dd>
                    <dd>
                        <input id="soy" name="soy" type="checkbox">
                        <label for="soy">Soy</label>
                    </dd>
                    <dd>
                        <input id="eggs" name="eggs" type="checkbox">
                        <label for="eggs">Eggs</label>
                    </dd>
                    <dd>
                        <input id="fish" name="fish" type="checkbox">
                        <label for="fish">Fish</label>
                    </dd>
                    <dd>
                        <input id="shellfish" name="shellfish" type="checkbox">
                        <label for="shellfish">Shellfish</label>
                    </dd>
                </dl>
            <button type="submit"><img class= "search-button" alt="search-button" src="/public/img/search-icon.png"></button>
            </div>
        </form>
        <ol>
            <script>
                let openTime;
                let closeTime;
                let openDate;
                let closeDate;
                let openHour;
                let closeHour;
                let openMin;
                let closeMin;
                let AMORPM1;
                let AMORPM2;
                let OpenOrClose;
                let canEnter;
            </script>
            {{#each shops}}
                <li>
                    <h2>
                        <a href="/shop/{{this._id}}">{{this.name}}</a>
                        {{#if this.flagged}}
                            <img class="flag" src="/public/img/flag.webp" alt="Flag">
                        {{/if}}
                    </h2>
                    <ul>
                        <li><p>Address: {{this.address}}</p></li>
                        <li><p>Average Rating: {{this.averageRating}}</p></li>
                        <li><p>Number of Likes: {{this.numOfLikes}}</p></li>
                        <li class="tel-link">Phone: <a href="tel:{{this.phoneNumber}}">{{this.phoneNumber}}</a></li>
                        {{#if ../Distance}}
                        <li><p>Distance: {{this.distance}} miles away</p></li>
                        {{/if}}
                        <li><p class="serviceHours_{{this._id}}"></p></li>
                        <script>
                            openTime;
                            closeTime;
                            openDate;
                            closeDate;
                            openHour;
                            closeHour;
                            openMin;
                            closeMin;
                            AMORPM1;
                            AMORPM2;
                            OpenOrClose;
                            canEnter;
                            openTime = "{{this.openTime}}"
                            closeTime = "{{this.closeTime}}"
                            openDate = new Date(openTime)
                            closeDate = new Date(closeTime)
                            openHour = openDate.getHours()
                            closeHour = closeDate.getHours()
                            openMin = openDate.getMinutes()
                            closeMin = closeDate.getMinutes()
                            AMORPM1 = "PM"
                            AMORPM2 = "PM"
                            canEnter = "Open"
                            if(closeHour < openHour){
                                OpenOrClose = closeHour + 24     
                            }
                            else{
                                OpenOrClose = closeHour
                            }
                            if({{../currentHour}} >= openHour && {{../currentHour}} <= OpenOrClose){
                                if({{../currentHour}} === openHour){
                                    if({{../currentMin}} >= openMin){
                                        canEnter = "Open"
                                    }
                                    else{
                                        canEnter = "Closed" 
                                    }
                                }
                                else{
                                    canEnter = "Open"
                                }
                                if({{../currentHour}} === OpenOrClose){
                                    if({{../currentMin}} <= closeMin){
                                        canEnter = "Open"
                                    }
                                    else{
                                        canEnter = "Closed" 
                                    }
                                }
                                else{
                                    canEnter = "Open" 
                                }
                            }
                            else{
                                canEnter = "Closed" 
                            }
                            if(openHour < 12){
                                AMORPM1 = "AM"
                                if(openHour === 0){
                                    openHour = 12
                                }
                            }
                            else{
                                if(openHour === 12){
                                    openHour = 12
                                }
                                else{
                                    openHour = openHour-12
                                }
                            }
                            if(closeHour < 12){
                                AMORPM2 = "AM"
                                if(closeHour === 0){
                                    closeHour = 12
                                }
                            }
                            else{
                                if(closeHour === 12){
                                    closeHour = 12
                                }
                                else{
                                    closeHour = closeHour-12
                                }
                            }
                            if(openHour < 10){
                                openHour = '0'+openHour.toString()
                            }
                            if(closeHour < 10){
                                closeHour = '0'+closeHour.toString()
                            }
                            if(openMin < 10){
                                openMin = '0'+openMin.toString()
                            }
                            if(closeMin < 10){
                                closeMin = '0'+closeMin.toString()
                            }
                            document.querySelector(".serviceHours_{{this._id}}").innerText = "Service Hours: " + openHour + ":" + openMin + AMORPM1 + " - " + closeHour + ":" + closeMin + AMORPM2 + " " + canEnter;
                        </script>
                    </ul>
                </li>
            {{/each}}
        </ol>

        <footer>
            <a href="#top" class="static-link">Back to Top</a> {{#if loggedIn}}| 
            <a href="/shop/addShop" class="static-link">Add a shop yourself!</a>{{/if}}
        </footer>

    </main>
