<main>
    <section class="login">
        <form action="/user/signup{{postTo}}" method="POST" class="logSign">
            <label for="signup"><h2>Create an account for Boba Fettch</h2></label>
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username" value="{{username}}" required><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password" value="{{password}}" required><br>  <!-- add confirm password-->
            <label for="password">Confirm Password:</label><br>
            <input type="password" name="passwordConf" id="passwordConf" value="{{passwordConf}}" required><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email" id="email" value="{{email}}" required><br>
            <label for="zipcode">Zipcode:</label><br>
            <input type="text" name="zipcode" id="zipcode" value="{{zipcode}}" required><br>
            <button type="submit" class="save">Signup</button>
        </form>
        <p><a href="/user/signup{{link}}">Sign up for a {{type}} account</a></p>
    </section>
</main>

