<body>
{{#with user}}
    <h1>Welcome, {{name}}</h1>
    <h3>Account Type: {{accountType}}</h3>
    {{#if error}}
         <p class="error">{{error}}</p>
    {{/if}}
    <form action="/user/{{_id}}" method="POST" class="user">
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio" placeholder="{{bio}}">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="{{email}}">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword">
        <br>
        <label for="zip">Zipcode:</label>
        <input type="text" id="zip" name="zip" placeholder="{{address}}">
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    
    <h2>Reviews:</h2>
    {{#each reviews}}
        <div>
            <h3>{{this.title}}</h3>
            <span>{{this.reviewDate}}</span>
            <p>Rating: {{this.rating}}</p>
            <p>{{this.review}}</p>
        </div>
    {{/each}}
    <hr>
    <form action="/user/{{user._id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE USER</button>
    </form>

{{/with}}    
</body>