<body>
{{#with user}}
    <h1>Welcome, {{name}}</h1>
    <h3>Account Type: {{accountType}}</h3>
    <button onclick="location.href='/shops/bookmarks'" type="button" class="bookmarks">Bookmarks</button>
    {{#if error}}
         <p class="error">{{error}}</p>
    {{/if}}
    <div id="userEdit" hidden>
    <form action="/user/{{_id}}" method="POST" name="edit-user-form" id="edit-user-form" class="user">
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio" value="{{bio}}">
        <br>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword">
        <br>
        <label for="zip">Address:</label>
        <input type="text" id="address" name="address">
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    </div>
    <div id="error" class="CSerror" hidden>Error</div>
    <div id="userInfo">
        <ul>
            <li>Bio: {{bio}}</li>
            <li>Email: {{email}}</li>
            <li>Address: {{address}}</li>
        </ul>
    </div>
    <button onclick="swapContent('userEdit','userInfo')" class="editInfo" id="editButton">Edit Info</button>

{{/with}}
<button onclick="toggleContent('toggledReviews')">Display Reviews</button>
        <div id="toggledReviews" style="display: none;">
            <select id="reviewSort" name="reviewSort" onchange="reviewSort(this.value)">
                <option value='oldest'>By Oldest</option>
                <option value='newest'>By Newest</option>
                <option value='highest'>By Most Positive</option>
                <option value='lowest'>By Most Negative</option>
                <option value="atoz">A - Z</option>
                <option value="ztoa">Z - A</option>
            </select>
            <ul id="oldest">
                {{#each reviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="newest" hidden>
                {{#each newestReviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="highest" hidden>
                {{#each highestReviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="lowest" hidden>
                {{#each lowestReviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="atoz" hidden>
                {{#each alphaForward}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="ztoa" hidden>
                {{#each alphaBackward}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
{{#with user}}
<hr>
<form action="/user/{{_id}}/delete" method="POST">
    <button type="submit" class="delete">DELETE USER</button>
</form>
{{/with}}