<body>
{{#with user}}
    <h1>Welcome, {{name}}</h1>
    <h3>Account Type: {{accountType}}</h3>
    <form action="/user/{{_id}}" method="PATCH" class="user">
        <label for="bio">Bio:</label>
        <input type="text" id="bio" placeholder="{{bio}}">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="{{email}}">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="{{pasword}}">
        <br>
        <label for="zip">Zipcode:</label>
        <input type="text" id="zip" placeholder="{{address}}">
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    <h2>Reviews:</h2>
    {{#each reviews}}
        <div>
            <h3>{{this.title}}</h3>
            <span>{{this.reviewDate}}</span>
            <p>Rating: {{this.rating}}</p>
            <p>{{this.review}}</p>
        </div>
    {{/each}}
    
{{/with}}    
</body>