<body>
{{#with user}}
    <h1>Welcome, {{name}}</h1>
    <h3>Account Type: {{accountType}}</h3>
    <button onclick="location.href='/shops/bookmarks'" type="button" class="bookmarks">Bookmarks</button>
    {{#if error}}
         <p class="error">{{error}}</p>
    {{/if}}
    <div id="userEdit" hidden>
    <form action="/user/{{_id}}" method="POST" name="edit-user-form" id="edit-user-form" class="user">
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio" value="{{bio}}">
        <br>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword">
        <br>
        <label for="zip">Address:</label>
        <input type="text" id="address" name="address">
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    </div>
    <div id="error" class="CSerror" hidden>Error</div>
    <div id="userInfo">
        <ul>
            <li>Bio: {{bio}}</li>
            <li>Email: {{email}}</li>
            <li>Address: {{address}}</li>
        </ul>
    </div>
    <button onclick="swapContent('userEdit','userInfo')" class="editInfo" id="editButton">Edit Info</button>
    
    <h2>Reviews:</h2>
    {{#each reviews}}
        <div>
            <h3>{{this.title}}</h3>
            <span>{{this.reviewDate}}</span>
            <p>Rating: {{this.rating}}</p>
            <p>{{this.review}}</p>
        </div>
    {{/each}}
    <hr>
    <form action="/user/{{_id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE USER</button>
    </form>
{{/with}}    
</body>