
{{#with user}}
    {{#if ../ownAccount}}
    <h1>Welcome, {{name}}</h1>
    {{else}}
    <h1>{{name}}'s Page</h1>
    {{/if}}
    <h3>Account Type: {{accountType}}</h3>
    <div id="pfp-container">
        <img id="pfp" src='/public/img/{{pfp}}' alt="profile picture">
    </div>
    {{#if ../ownAccount}}
    {{#if ../Business}}
    <button onclick="location.href='/shops/claimed'" type="button" class="bookmarks">Claimed Shops</button>
    {{/if}}
    <button onclick="location.href='/shops/bookmarks'" type="button" class="bookmarks">Bookmarks</button>
    {{/if}}
    {{#if error}}
         <p class="error">{{error}}</p>
    {{/if}}
    <h2>User Info</h2>
    <div id="userInfo">
        <ul>
            <li>Bio: {{bio}}</li>
            <li>Email: {{email}}</li>
            <li>Address: {{address}}</li>
        </ul>
    </div>
    {{#if ../ownAccount}}
    <div id="userEdit" hidden>
    <form action="/user/{{_id}}" method="POST" name="edit-user-form" id="edit-user-form" class="user"> 
        <div class="bio">
            <label for="bio">Bio:</label><br>
            <textarea id="bio" name="bio">{{bio}}</textarea>
        </div>
        <div class="password">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="address">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address">
        </div>
        <div>
            <label for="themeType">Theme:</label>
            <select id="themeType" name="themeType">
                <option id="light" value="light">Light</option>
                <option id="dark" value="dark">Dark</option>
                <option id="matcha" value="matcha">Matcha</option>
                <option id="taro" value="taro">Taro</option>
            </select>
        </div>
        <input type="hidden" id="profile" name="profile">
        <div class="profile-pictures" id="profile-picture">
            <p>Change Profile Picture:</p>
            <button class="pfp-option" type="button" data-value="Default_pfp.png"><img class="pfp-option" src="/public/img/Default_pfp.png" alt="Profile Picture 1" ></button>
            <button class="pfp-option" type="button" data-value="profile1.webp"><img class="pfp-option" src="/public/img/profile1.webp" alt="Profile Picture 1" ></button>
            <button class="pfp-option" type="button" data-value="profile2.webp"><img class="pfp-option" src="/public/img/profile2.webp" alt="Profile Picture 2"></button>
            <button class="pfp-option" type="button" data-value="profile3.jpg"><img class="pfp-option" src="/public/img/profile3.jpg" alt="Profile Picture 3"></button>
            <button class="pfp-option" type="button" data-value="profile4.jpg"><img class="pfp-option" src="/public/img/profile4.jpg" alt="Profile Picture 4"></button>
        </div>
        <div class="oldPassword">
            <label for="oldPassword">Current Password:</label>
            <input type="password" id="oldPassword" name="oldPassword">
        </div>
        <br>
        <button type="submit" class="save">Save Changes</button>
    </form>
    </div>
    <div id="error" class="CSerror" hidden>Error</div>
    {{/if}}
    {{#if ../ownAccount}}
    <button onclick="swapContent('userEdit','userInfo')" class="editInfo" id="editButton">Edit Info</button>
    {{/if}}
{{/with}}   
<button onclick="toggleContent('toggledReviews')">Display Reviews</button>
        <div id="toggledReviews" style="display: none;">
            <div id="container">
                <label>Search Reviews:</label>
                <input class="search-bar" type="text" name="search" id="search" placeholder="Service...">
                <br>
                <button type="button" onclick="location.href='/user/{{user._id}}/reviewSearch/' + encodeURIComponent(document.getElementById('search').value)">
                    <img class="search-button" alt="search-button" src="/public/img/search-icon.png">
                </button>
            </div>
            <div>
                <label for="reviewSort">Sort By: </label>
                <select id="reviewSort" name="reviewSort" onchange="reviewSort(this.value)">
                    <option value='oldest'>By Oldest</option>
                    <option value='newest'>By Newest</option>
                    <option value='highest'>By Most Positive</option>
                    <option value='lowest'>By Most Negative</option>
                    <option value="atoz">A - Z</option>
                    <option value="ztoa">Z - A</option>
                </select>
                <a class="static-link" href="/user/{{user._id}}/reviewSearch/"> See All Reviews</a>
            </div>
            

            <ul id="oldest">
                {{#each reviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                    <p>{{this.review}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="newest" hidden>
                {{#each newestReviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                    <p>{{this.review}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="highest" hidden>
                {{#each highestReviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                    <p>{{this.review}}</p>
                                   </li>
                {{/each}}
            </ul>
            <ul id="lowest" hidden>
                {{#each lowestReviews}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                    <p>{{this.review}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="atoz" hidden>
                {{#each alphaForward}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                    <p>{{this.review}}</p>
                </li>
                {{/each}}
            </ul>
            <ul id="ztoa" hidden>
                {{#each alphaBackward}}
                <li>
                    <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
                    <p>Rating: {{this.rating}}/5</p>
                    <p>Posted on: {{this.reviewDate}}</p>
                    <p>{{this.review}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
{{#with user}}
    <hr>
    {{#if ../ownAccount}}
    <form action="/user/{{_id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE USER</button>
    </form>
    {{else}}
    {{#if ../Admin}}
    <form action="/user/{{_id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE USER</button>
    </form>
    {{/if}}
    {{/if}}
{{/with}}
