{{#with user}}
    <h1>Welcome, {{name}}</h1>
    <h3>Account Type: {{accountType}}</h3>
    <div>
        <img class="error" src='/public/img/{{pfp}}' alt="mad boba cat">
    </div>
    <button onclick="location.href='/shops/bookmarks'" type="button" class="bookmarks">Bookmarks</button>
    {{#if error}}
         <p class="error">{{error}}</p>
    {{/if}}
    <div id="userEdit" hidden>
    <form action="/user/{{_id}}" method="POST" name="edit-user-form" id="edit-user-form" class="user">
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio" value="{{bio}}">
        <br>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="oldPassword">Confirm Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword">
        <br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address">
        <br>
        <label for="themeType">Theme:</label>
        <select name="themeType" id="themeType">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
        <br>
        <label>Profile Picture:</label>
        <dl id="pfp">
            <dt>
                <input id="default" name="pfp" type="radio" value="Default_pfp.png">
                <label for="default">Default</label>
                <img class="error" src="/public/img/Default_pfp.png" alt="mad boba cat">
            </dt>
            <dt>
                <input id="thomas" name="pfp" type="radio" value="Thomas_pfp.jpeg">
                <label for="thomas">Thomas</label>
                <img class="error" src="/public/img/Thomas_pfp.jpeg" alt="mad boba cat">
            </dt>
            <dt>
                <input id="laurent" name="pfp" type="radio" value="Laurent_pfp.jpeg">
                <label for="laurent">Laurent</label>
                <img class="error" src="/public/img/Laurent_pfp.jpeg" alt="mad boba cat">
            </dt>
        <dd></dd>
        </dl>
        <button type="submit" class="save">Save Changes</button>
    </form>
    </div>
    <div id="error" class="CSerror" hidden>Error</div>
    <div id="userInfo">
        <ul>
            <li>Bio: {{bio}}</li>
            <li>Email: {{email}}</li>
            <li>Address: {{address}}</li>
            <li>Theme: {{themeType}}</li>
        </ul>
    </div>
    <button onclick="swapContent('userEdit','userInfo')" class="editInfo" id="editButton">Edit Info</button>
    
    <h2>Reviews:</h2>
    {{#each reviews}}
        <div>
            <h3><a href="/review/{{this._id}}">{{this.title}}</a></h3>
            <span>{{this.reviewDate}}</span>
            <p>Rating: {{this.rating}}</p>
            <p>{{this.review}}</p>
        </div>
    {{/each}}
    <hr>
    <form action="/user/{{_id}}/delete" method="POST">
        <button type="submit" class="delete">DELETE USER</button>
    </form>
{{/with}}    